/*My Mobile****/
@media (min-width: 337px) and (max-device-width: 768px){
    #container {
        background-image: url(ss2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        height: 100vh;
    }

    #games {
        height: 100vh;
        display: none;
    }

    #loginpage {
        height: 100vh;
        display: none;
    }

    #team {
        height: 100vh;
        display: none;
    }

    #informa {
        height: 100vh;
        display: none;
    }

    #fecha {
        height: 100vh;
        display: none;
    }

    #ubication {
        height: 100vh;
        display: none;
    }

    #redparti {
        height: 100vh;
        display: none;
    }

    #greenparti {
        height: 100vh;
        display: none;
    }

    #blueparti {
        height: 100vh;
        display: none;
    }

    #dateone {
        height: 100vh;
        display: none;
    }

    #datetwo {
        height: 100vh;
        display: none;
    }

    #datethree {
        height: 100vh;
        display: none;
    }

    #datefour {
        height: 100vh;
        display: none;
    }

    #datefive {
        height: 100vh;
        display: none;
    }

    body {
        background-color: black;
    }

    button,
    a {
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
        align-content: center;
    }

    .btn-block {
        margin-top: 50px;
        font-size: 90px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
    }

    h5 {
        color: black;
        font-size: 90px;
        text-align: center;
        font-weight: 700;
    }

    h4 {
        font: small-caps 100%/200% serif;
        color: white;
        font-size: 90px;
        text-align: center;
        font-weight: 700;
    }

    .logo {
        width: 100px;
        height: 100px;
        align-items: center;
    }

    img {
        height: 250px;
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    .menu {
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    iframe {
        margin-left: 78px;
        height: 800px;
        width: 800px;
    }

    li {
        background-color: darkslategrey;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        color: black;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        text-decoration: none;
        list-style: none;
    }

    a {
        color: white;
    }

    ul {
        background-color: darkblue;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        color: white;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        list-style: none;
        text-decoration: none;

    }

    H1 {
        text-align: center;
    }

    #chatt {
        text-align: center;
        align-items: center;
        margin-right: 30%;
        height: 50%;
        font-size: 30px;
    }

    #mensaje {
        margin-left: 21%;
        margin-top: 1%;
        width: 60%;
        height: 6%;
        font-size: 650%;
    }

    #btnEnviar {
        margin-left: 23%;
        margin-top: 1%;
        width: 56%;
        height: 10%;
        font-size: 600%;
        border-bottom-color: green;
        border-right-color: green;
    }

    #cont {
        height: 100%;
    }

    #chatUl {
        background-color: hsla(120, 100%, 25%, 0.1);
        margin: 1%;
        text-align: center;
        align-items: center;
        overflow: scroll;
        height: 60%;
        font-size: 500%;
    }

    chatUl::-webkit-scrollbar {
        width: 500px;
    }

    #log {
        margin-top: 2%;
    }

    #chatUl div {
        margin-top: 2%;
        background-color: dodgerblue;
        padding: 20px;
        margin-bottom: 35px;
        color: white;
        border-radius: 20%;
    }
}

@media (min-width: 600px) and (orientation: landscape) {
    #container {
        background-image: url(ss2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        height: 100vh;
    }

    #games {
        height: 100vh;
        display: none;
    }

    #team {
        height: 100vh;
        display: none;
    }

    #informa {
        height: 100vh;
        display: none;
    }

    #fecha {
        height: 100vh;
        display: none;
    }

    #ubication {
        height: 100vh;
        display: none;
    }

    #redparti {
        height: 100vh;
        display: none;
    }

    #greenparti {
        height: 100vh;
        display: none;
    }

    #blueparti {
        height: 100vh;
        display: none;
    }

    #dateone {
        height: 100vh;
        display: none;
    }

    #datetwo {
        height: 100vh;
        display: none;
    }

    #datethree {
        height: 100vh;
        display: none;
    }

    #datefour {
        height: 100vh;
        display: none;
    }

    #datefive {
        height: 100vh;
        display: none;
    }

    body {
        background-color: black;
    }

    button,
    a {
        font-size: 1px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
        align-content: center;
    }

    .btn-block {
        margin-top: 0px;
        font-size: 15px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
    }

    .grid {
        display: inline-grid;

    }

    h5 {
        color: black;
        display: inline-grid;
        /*        margin-bottom: 50px;*/
        /*        margin-top: 20px;*/
        font-size: 15px;
        font-weight: 700;
    }

    h4 {
        font: small-caps 100%/200% serif;
        color: white;
        font-size: 20px;
        text-align: center;
    
    }

    .logo {
        width: 25px;
        height: 25px;
        align-items: center;
    }

    img {
        height: 50px;
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    .menu {
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    iframe {
        margin-left: 90px;
        display: inline-grid;
        height: 250px;
        width: 250px;
    }

    li {
        background-color: darkslategrey;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: black;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        text-decoration: none;
        list-style: none;
    }

    ul {
        background-color: darkblue;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: white;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        list-style: none;
        text-decoration: none;

    }

    H1 {
        text-align: center;
    }

    H5 {
        margin-left: 135px;
    }

    a {
        font-size: 20px;
        color: white;
    }

    #mensaje {
        width: 80%;
        height: 10%;
        font-size: 300%;
        margin-left: 10%;
        border-bottom-color: green;
        border-right-color: green;
    }

    #btnEnviar {
        width: 55%;
        height: 10%;
        border-radius: 80px;
        font-size: 300%;
    }

    #chatUl {
        background-color: hsla(120, 100%, 25%, 0.1);
        text-align: center;
        overflow: scroll;
        height: 60%;
        width: 100%;
        margin-left: 0%;
        font-size: 400%;
    }

    chatUl::-webkit-scrollbar {
        width: 100px;
    }

    #log {
        margin-top: 2%;
        font-size: 200%;
    }
    #cont{
        height: 100%;
    }
}

/*Ipad****/
/*
@media (min-width: 768px) {
    #container {
        background-image: url(ss2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        height: 100vh;
    }

    #games {
        height: 100vh;
        display: none;
    }

    #team {
        height: 100vh;
        display: none;
    }

    #informa {
        height: 100vh;
        display: none;
    }

    #fecha {
        height: 100vh;
        display: none;
    }

    #ubication {
        height: 100vh;
        display: none;
    }

    #redparti {
        height: 100vh;
        display: none;
    }

    #greenparti {
        height: 100vh;
        display: none;
    }

    #blueparti {
        height: 100vh;
        display: none;
    }

    #dateone {
        height: 100vh;
        display: none;
    }

    #datetwo {
        height: 100vh;
        display: none;
    }

    #datethree {
        height: 100vh;
        display: none;
    }

    #datefour {
        height: 100vh;
        display: none;
    }

    #datefive {
        height: 100vh;
        display: none;
    }

    body {
        background-color: black;
    }

    button,
    a {
        font-size: 20px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
        align-content: center;
    }

    .btn-block {
        margin-top: 0px;
        font-size: 80px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
    }

    h5 {
        color: black;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }

    h4 {
        font: small-caps 100%/200% serif;
        color: white;
        font-size: 90px;
        text-align: center;
        font-weight: 700;
    }

    .logo {
        width: 90px;
        height: 90px;
        align-items: center;
    }

    img {
        height: 150px;
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    .menu {
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    iframe {
        margin-left: 180px;
        height: 600px;
        width: 600px;
    }

    li {
        background-color: darkslategrey;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        color: black;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        text-decoration: none;
        list-style: none;
    }

    ul {
        background-color: darkblue;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        color: white;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        list-style: none;
        text-decoration: none;

    }

    H1 {
        text-align: center;
    }

    a {
        font-size: 50px;
    }
},

@media (min-width: 1024px) and (orientation: landscape) {
    #container {
        background-image: url(ss2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        height: 100vh;
    }

    #games {
        height: 100vh;
        display: none;
    }

    #team {
        height: 100vh;
        display: none;
    }

    #informa {
        height: 100vh;
        display: none;
    }

    #fecha {
        height: 100vh;
        display: none;
    }

    #ubication {
        height: 100vh;
        display: none;
    }

    #redparti {
        height: 100vh;
        display: none;
    }

    #greenparti {
        height: 100vh;
        display: none;
    }

    #blueparti {
        height: 100vh;
        display: none;
    }

    #dateone {
        height: 100vh;
        display: none;
    }

    #datetwo {
        height: 100vh;
        display: none;
    }

    #datethree {
        height: 100vh;
        display: none;
    }

    #datefour {
        height: 100vh;
        display: none;
    }

    #datefive {
        height: 100vh;
        display: none;
    }

    body {
        background-color: black;
    }

    button,
    a {
        font-size: 20px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
        align-content: center;
    }

    .btn-block {
        margin-top: 0px;
        font-size: 25px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
    }

    h5 {
        color: black;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }

    h4 {
        font: small-caps 100%/200% serif;
        color: white;
        font-size: 80px;
        text-align: center;
        font-weight: 700;
    }

    .logo {
        width: 30px;
        height: 30px;
        align-items: center;
    }

    img {
        height: 150px;
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    .menu {
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    iframe {
        margin-left: 280px;
        height: 290px;
        width: 290px;
    }

    li {
        background-color: darkslategrey;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: black;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        text-decoration: none;
        list-style: none;
    }

    ul {
        background-color: darkblue;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: white;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        list-style: none;
        text-decoration: none;

    }

    H1 {
        text-align: center;
    }
}
*/

/*iphone 6/7/8****/
/*
@media (min-width: 1024px) and (orientation: landscape) {
    #container {
        background-image: url(ss2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home {
        height: 100vh;
    }

    #games {
        height: 100vh;
        display: none;
    }

    #team {
        height: 100vh;
        display: none;
    }

    #informa {
        height: 100vh;
        display: none;
    }

    #fecha {
        height: 100vh;
        display: none;
    }

    #ubication {
        height: 100vh;
        display: none;
    }

    #redparti {
        height: 100vh;
        display: none;
    }

    #greenparti {
        height: 100vh;
        display: none;
    }

    #blueparti {
        height: 100vh;
        display: none;
    }

    #dateone {
        height: 100vh;
        display: none;
    }

    #datetwo {
        height: 100vh;
        display: none;
    }

    #datethree {
        height: 100vh;
        display: none;
    }

    #datefour {
        height: 100vh;
        display: none;
    }

    #datefive {
        height: 100vh;
        display: none;
    }

    body {
        background-color: black;
    }

    button,
    a {
        font-size: 20px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
        align-content: center;
    }

    .btn-block {
        margin-top: 0px;
        font-size: 25px;
        border-radius: 50%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 100px;
    }

    h5 {
        color: black;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }

    h4 {
        font: small-caps 100%/200% serif;
        color: white;
        font-size: 80px;
        text-align: center;
        font-weight: 700;
    }

    .logo {
        width: 30px;
        height: 30px;
        align-items: center;
    }

    img {
        height: 150px;
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    .menu {
        display: block;
        margin: auto;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
    }

    iframe {
        margin-left: 280px;
        height: 290px;
        width: 290px;
    }

    li {
        background-color: darkslategrey;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: black;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        text-decoration: none;
        list-style: none;
    }

    ul {
        background-color: darkblue;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: white;
        align-content: center;
        border-radius: 10%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 50px;
        list-style: none;
        text-decoration: none;

    }

    H1 {
        text-align: center;
    }
}
*/
